<div class="app-layout-container">

    <!-- 1. Header superior -->
    <app-outer-header class="layout-header"></app-outer-header>

    <!-- 2. Área inferior -->
    <div class="layout-body">

        <!-- 2.1 Menú lateral -->
        <app-sidebar class="layout-sidebar"></app-sidebar>

        <!-- 2.2 Contenedor principal -->
        <div class="layout-main-wrapper">

            <!-- Contenido dinámico -->
            <main class="layout-content-area">
                <router-outlet></router-outlet>
            </main>

        </div>

    </div>

</div>