<aside class="sidebar">

  <nav class="sidebar-nav">
    <a routerLink="/mesas" class="nav-item">
      <mat-icon>table_restaurant</mat-icon>
      <span>Mesas</span>
    </a>
    <a routerLink="/domicilios" class="nav-item">
      <mat-icon>delivery_dining</mat-icon>
      <span>Domicilios</span>
    </a>
    <a routerLink="/caja" class="nav-item">
      <mat-icon>point_of_sale</mat-icon>
      <span>Caja</span>
    </a>
    <a routerLink="/catalogo" class="nav-item active">
      <mat-icon>inventory_2</mat-icon>
      <span>Catálogo</span>
    </a>
    <a routerLink="/reportes" class="nav-item">
      <mat-icon>bar_chart</mat-icon>
      <span>Reportes</span>
    </a>
  </nav>
</aside>